<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List Api</title>
</head>

<body>
    <h1>Post List By Api</h1>

    <ul id="post-container">

    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $.get("/blog/api/v1/posts/", function (data, testStatus, jqXHR) {
            // console.log(data);
            container = $('#post-container');
            for (post of data.results) {
                container.append(`<li><h3><a href="${post.absolute_url}">${post.title}</a></h3></li>`)
            }

        });
    </script>
</body>

</html>